In [1]:
import pandas as pd

In [2]:
df = pd.read_json('C:\VIRTUALENVS\pbi_financial_market\data\TIME_SERIES_INTRADAY.json')
df

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
C:\Users\andre\AppData\Local\Temp\ipykernel_11888\3178768850.py:1: SyntaxWarning: invalid escape sequence '\V'
  df = pd.read_json('C:\VIRTUALENVS\pbi_financial_market\data\TIME_SERIES_INTRADAY.json')

,Meta Data,Time Series (Daily)
1. Information,"Daily Prices (open, high, low, close) and Volumes",NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2024-12-06,NaN
4. Output Size,Compact,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2024-07-24,NaN,"{'1. open': '184.1400', '2. high': '185.0714',..."
2024-07-23,NaN,"{'1. open': '184.3600', '2. high': '185.3800',..."
2024-07-22,NaN,"{'1. open': '183.4000', '2. high': '184.9700',..."
2024-07-19,NaN,"{'1. open': '186.3300', '2. high': '187.0000',..."
2024-07-18,NaN,"{'1. open': '186.6400', '2. high': '189.4700',..."